
.box .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

form .mat-fab {
  margin-left: 8px;
}

.box {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.field-50-width {
  width: 50%;
}

.field-10-width {
  width: 10%;
}

.field-100-width {
  width: 100%;
}

.field-30-width {
  width: 30%;
}


@media (max-width: 800px) {
  .box {
    flex-direction: column;
  }
}
