<form [formGroup]="searchForm" autocomplete="off">

  <div class="box">
    <mat-form-field class="field-30-width" appearance="fill">
      <mat-label>Theme</mat-label>
      <input type="text" matInput formControlName="theme" [matAutocomplete]="theme"
        #autoCompleteThemeInput="matAutocompleteTrigger">
      <mat-autocomplete #theme="matAutocomplete" [displayWith]="displayTheme"
        (optionSelected)="onSelectTheme($event.option.value)">
        <mat-option *ngFor="let theme of filteredTheme | async" [value]="theme">
          {{theme.Label}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>Commencer à renseigner un theme</mat-hint>
    </mat-form-field>

    <mat-form-field class="field-50-width" appearance="fill">
      <mat-label>Programme</mat-label>
      <input type="text" matInput formControlName="bop" [matAutocomplete]="bop"
        #autoCompleteBopInput="matAutocompleteTrigger">
      <mat-autocomplete #bop="matAutocomplete" [displayWith]="displayBop"
        (optionSelected)="onSelectBop($event.option.value)">
        <mat-option *ngFor="let bop of filteredBop | async" [value]="bop">
          {{bop.Code}} - {{bop.Label}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>Commencer à renseigner le code programme ou le nom</mat-hint>
    </mat-form-field>
  </div>

  <div class="box">
    <mat-form-field class="field-10-width" appearance="fill">
      <mat-label>Année</mat-label>
      <input matInput formControlName="year" placeholder="">
      <mat-icon matSuffix>calendar_month</mat-icon>
      <mat-hint>Renseigner l'année d'enregistrement de la ligne chous</mat-hint>
    </mat-form-field>

    <mat-form-field class="field-30-width" appearance="fill">
      <mat-label>Département</mat-label>
      <input type="text" matInput formControlName="departement" [matAutocomplete]="dpt">
      <mat-icon matSuffix>map</mat-icon>
      <mat-autocomplete #dpt="matAutocomplete" [displayWith]="displayDepartement">
        <mat-option *ngFor="let departement of filterDepartement | async" [value]="departement">
          {{departement.code}} - {{departement.nom}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>Commencer à renseigner le nom ou le numéro de département</mat-hint>
    </mat-form-field>

    <button mat-fab color="primary" (click)="searchChorus()">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </div>
</form>
