<lib-header [ngClass]="{'hidden': grid_fullscreen }" [title]="'Budget Data État Bretagne'" [logo]="'BudgetEtat.svg'">

  <li administration *ngIf="displayAdmin">
    <button mat-icon-button [matMenuTriggerFor]="administration" matTooltip="Administration" class="fr-btn"
      id="administration">
      <mat-icon aria-hidden="false" aria-label="Administration" fontIcon="settings"></mat-icon>
    </button>

    <mat-menu #administration="matMenu">
      <button mat-menu-item routerLink='administration/management' *ngIf="isAdmin">Gestion des utilisateurs</button>
      <button mat-menu-item routerLink='administration/loading'>Charger des données</button>
    </mat-menu>
  </li>
</lib-header>

<div *ngIf="progressBarVisible === true">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<router-outlet class="page-content-outlet"></router-outlet>

<lib-footer *ngIf="isAuthenticated" [ngClass]="{'hidden': grid_fullscreen }" [contact]="contact"></lib-footer>