<div mat-dialog-title>
  <div class="dialog-title">
    <h2>Êtes-vous sûr de vouloir importer les données CP pour l'année {{year}} ?</h2>
    <button type="button" mat-icon-button mat-dialog-close aria-label="Fermer" matTooltip="Fermer">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <p>Attention, les données CP (crédit de Paiement) déjà présentes pour l'année sélectionnée ({{year}}) vont être
      supprimées et remplacées. Voulez-vous continuer ? </p>
  </div>
</div>

<mat-dialog-actions align="end">
  <button mat-button color="warn" type="button" (click)="validate()">Oui</button>
  <button mat-button mat-dialog-close type="button">Non</button>
</mat-dialog-actions>