<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"></p>
            </div>
          </div>

          <div class="fr-header__service"> <a href="/" title="Accueil - databretagne.fr">
              <p class="fr-header__service-title"> Budget Data état Bretagne</p>
            </a>
          </div>
          <div class="fr-notice fr-notice--info">
            <div class="fr-container">
              <div class="fr-notice__body">
                <p class="fr-notice__title">
                  Version Bêta
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group" *ngIf="isLoggedIn && user !== null">
              <li>
                <button mat-icon-button [matMenuTriggerFor]="infoUser" matTooltip="{{user.username}}" class="fr-btn">
                  <mat-icon aria-hidden="false" aria-label="Information de l'utilisateur" fontIcon="person_outline">
                  </mat-icon>
                </button>

                <mat-menu #infoUser="matMenu">
                  <button mat-menu-item>{{user.firstName}} {{user.lastName}}</button>
                  <button mat-menu-item>{{user.email}}</button>
                </mat-menu>
              </li>


              <li *ngIf="session.isAdmin()">
                <button mat-icon-button routerLink="/management" matTooltip="Administration" class="fr-btn"
                  id="administration">
                  <mat-icon aria-hidden="false" aria-label="Administration" fontIcon="settings"></mat-icon>
                </button>
              </li>

              <li>
                <button mat-icon-button (click)="logout()" matTooltip="Se déconnecter" class="fr-btn">
                  <mat-icon aria-hidden="false" aria-label="Se déconnecter" fontIcon="logout"></mat-icon>
                </button>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
