
.box .mat-mdc-form-field + .mat-mdc-form-field, .box .field-localisation + .mat-mdc-form-field, .box .field-localisation {
  margin-left: 8px;
}


.box button {
  margin-left: 15px
}

form .mat-fab {
  margin-left: 8px;
}

.box:has(.fr-alert) {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.spacer {
  flex-grow: 1;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.field-100-width {
  width: 100%;
}

.field-20-width {
  width: 20%;
}
.field-100-width {
  width: 80%;
}

.field-30-width {
  width: 30%;
}

.field-15-width {
  width: 15%;
}

.field-9-width {
  width: 9%;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
  }
}
