<form [formGroup]="searchForm" autocomplete="off">
  <div class="box">

    <div class="element field-20-width">
      <!-- Axe du Plan de relance -->
      <mat-form-field appearance="fill">
        <mat-label>Axe du plan de relance</mat-label>
        <mat-select formControlName="axe_plan_relance" multiple>
          <mat-option *ngFor="let axe of axe_plan_relance" [value]="axe">
            {{axe.axe}} - {{axe.label}}
          </mat-option>
          <mat-select-trigger>
            {{axePlanDeRelanceControls.value ? axePlanDeRelanceControls.value[0].label : ''}}
            <span *ngIf="axePlanDeRelanceControls.value?.length > 1" class="example-additional-selection">
              (+{{axePlanDeRelanceControls.value.length - 1}} {{axePlanDeRelanceControls.value?.length === 2 ? 'autre' :
              'autres'}})
            </span>
          </mat-select-trigger>
        </mat-select>
        <button *ngIf="axePlanDeRelanceControls.value !== null" matSuffix mat-icon-button (click)="cancelAxe()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- <div class="element field-20-width">
      <mat-label>Pokemon</mat-label>
      <mat-select [formControl]="pokemonControl" multiple>
        <div *ngFor="let group of pokemonGroups">
          <mat-checkbox class="example-margin">{{group.name}}</mat-checkbox>
          <mat-optgroup>
            <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
              {{pokemon.viewValue}}
            </mat-option>
          </mat-optgroup>
        </div>
      </mat-select>
    </div> -->

    <div class="element field-30-width">
      <mat-form-field appearance="fill">
        <mat-label>Territoire</mat-label>
        <div class="box">
          <mat-chip-grid #chipGrid aria-label="Sélection des territoire" formArrayName="territoire">
            <mat-chip-row *ngFor="let loc of territoireControls.value" (removed)="removeTerritoire(loc)">
              {{loc.Commune}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Territoire ..." #filterTerritoireInput formControlName="filterTerritoire"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
        </div>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTerritoire($event)">
          <mat-option *ngFor="let territoire of filteredTerritoire | async" [value]="territoire">
            {{territoire.Commune}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="element field-30-width">
      <mat-form-field appearance="fill">
        <mat-label>Lauréat</mat-label>
        <input type="text" matInput formControlName="structure" [matAutocomplete]="structure">
        <button *ngIf="searchForm.controls['structure'].value !== null" matSuffix mat-icon-button
          (click)="searchForm.controls['structure'].setValue(null)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #structure="matAutocomplete" [displayWith]="displayLaureat"
          (optionSelected)="onSelectLaureat($event.option.value)">
          <mat-option *ngFor="let laureat of filteredLaureat | async" [value]="laureat">
            {{displayLaureat(laureat)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="spacer"></div>

    <button mat-fab color="primary" (click)="doSearch()">
      <mat-icon fontIcon="search"></mat-icon>
    </button>

    <button mat-fab color="secondary" matTooltip="Télécharger les données" (click)="downloadCsv()"
      *ngIf="searchFinish === true" (disabled)="searchInProgress.value === true">
      <mat-icon fontIcon="download"></mat-icon>
    </button>

    <button mat-fab color="warn" matTooltip="Reset le formulaire" (click)="reset()" *ngIf="searchFinish === true">
      <mat-icon fontIcon="disabled_by_default"></mat-icon>
    </button>

  </div>
</form>