<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Charger des nouvelles données financières</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input type="file" class="file-input" [accept]="requiredFileType" (change)="fileFinancial = getFile($event)" #fileUpload>
        <div class="file-upload">

          <span>{{ fileFinancial !== null ? fileFinancial.name : "Sélectionner un fichier csv" }}</span>

          <button mat-mini-fab color="primary" class="upload-btn" *ngIf="fileFinancial === null" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

          <button mat-mini-fab color="warn" class="cancel-upload" *ngIf="fileFinancial !== null" (click)="fileFinancial = null">
            <mat-icon class="cancel-upload" (click)="fileFinancial = null">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select required [(ngModel)]="yearSelected">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Type de données</mat-label>
          <mat-select required [(ngModel)]="typeSelected">
            <mat-option [value]="DataType.FINANCIAL_DATA_AE">
              Engagements
            </mat-option>
            <mat-option [value]="DataType.FINANCIAL_DATA_CP">
              Montant payé
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <button mat-fab color="primary" *ngIf="fileFinancial !== null" (click)="uploadFinancialFile()"
        (disabled)="uploadInProgress.value === true">
        <mat-icon fontIcon="upload_file"></mat-icon>
      </button>

    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card" *ngIf="isAdmin">
  <mat-card-header>
    <mat-card-title>Mettre à jour les référentiels</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input type="file" class="file-input" accept=".xlsx" (change)="fileReferentiel = getFile($event)" #fileUploadReferentiel>
        <div class="file-upload">

          <span>{{ fileReferentiel !== null ? fileReferentiel.name : "Sélectionner le fichier calculette chorus" }}</span>

          <button mat-mini-fab color="primary" class="upload-btn" *ngIf="fileReferentiel === null" (click)="fileUploadReferentiel.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

          <button mat-mini-fab color="warn" class="cancel-upload" *ngIf="fileReferentiel !== null" (click)="fileReferentiel = null">
            <mat-icon class="cancel-upload" (click)="fileReferentiel = null">delete_forever</mat-icon>
          </button>
        </div>
      </div>

      <button mat-fab color="primary" *ngIf="fileReferentiel !== null" (click)="uploadReferentiel()"
        (disabled)="uploadInProgress.value === true">
        <mat-icon fontIcon="upload_file"></mat-icon>
      </button>

    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card" *ngIf=" dataSource.length> 0">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Historique des 10 derniers chargements des données financières</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content class="fr-col-6">
    <table mat-table [dataSource]="dataSource" class="fr-table fr-table--no-caption">
      <caption>Liste des derniers fichiers chargés</caption>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>Fichier</th>
        <td mat-cell *matCellDef="let element">{{element.filename}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"><lib-display-date [date]="element.date"></lib-display-date></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-card-content>

</mat-card>
