<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Liste des utilisateurs</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content-column">
    <table mat-table [dataSource]="dataSource.users" class="mat-elevation-z8">
      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- lastname Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- usernamle Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Mail </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container> -->


      <!-- Enabled Column -->
      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> Activer/Désactiver </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="element.enabled" (change)="toggleActif(element)">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.pageInfo?.totalRows" [pageSize]="dataSource.users.length"
      [pageSizeOptions]="[2, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
