<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Charger des nouvelles données financières</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="line">

      <div class="col">
        <input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">

          <span>{{ file !== null ? file.name : "Sélectionner un fichier csv" }}</span>

          <button mat-mini-fab color="primary" class="upload-btn" *ngIf="file === null" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

          <button mat-mini-fab color="warn" class="cancel-upload" *ngIf="file !== null" (click)="cancelUpload()">
            <mat-icon class="cancel-upload" (click)="cancelUpload()">delete_forever</mat-icon>
          </button>

        </div>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Année</mat-label>
          <mat-select required [(ngModel)]="yearSelected">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </div>

      <button mat-fab color="primary" *ngIf="file !== null" (click)="uploadFinancialFile()">
        <mat-icon fontIcon="upload_file"></mat-icon>
      </button>

    </div>

    <div class="line" *ngIf="dataSource.length > 0">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Utilisateur</th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef> Fichier </th>
          <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>


  </mat-card-content>
</mat-card>