/* You can add global styles to this file, and also import other style files */



:root {
  --base-color: #024059;
  --base-foreground-color: white;
  --background-color: white;
  --color: black;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content-outlet + * {
  flex: 1;
}
