footer {

  .footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    .footer-logo-fr {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      img {
        width: 300px;
      }
    }
  }
}
