<ng-container
  *ngFor="let col of context.displayedColumns; index as i; first as isFirst"
>
  <ng-container [ngSwitch]="isFirst">
    <div *ngSwitchCase="true" class="cell group-cell">
      <div>
        <div class="{{folded ? 'arrow-right' : 'arrow-down'}}"></div>
      </div>
      <div>
        <div><strong>{{group.column?.label}}</strong></div>
        <div><em>{{group.columnValue}}</em></div>
      </div>
      <div class="group-size">
        {{group | financialGroupAggregate: group.column}}
      </div>
    </div>

    <div *ngSwitchDefault class="cell col-{{i}}">
      {{group | financialGroupAggregate: col}}
    </div>
  </ng-container>
</ng-container>
