<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link"> <a href="/"
          title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
          <p class="fr-logo"> Données financières <br> de l'état </p>
        </a> </div>
      <div class="fr-footer__content">
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item"> <a class="fr-footer__content-link" target="_blank"
              href="https://www.sib.fr">sib.fr</a> </li>
          <li class="fr-footer__content-item"> <a class="fr-footer__content-link" target="_blank"
              href="https://geobretagne.fr">geobretagne.fr</a> </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__partners">
      <div class="fr-footer__partners-logos">
        <div class="fr-footer__partners-sub">
          <ul>

            <li> <a class="fr-footer__partners-link" href="#"> <img class="fr-footer__logo" style="height: 5.625rem"
                  src="assets/img/logo_france_relance.png" alt="Geobretagne" />
              </a> </li>

            <li> <a class="fr-footer__partners-link" href="#"> <img class="fr-footer__logo" style="height: 5.625rem"
                  src="assets/img/logo_geobretagne.png" alt="Geobretagne" /></a> </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
