a[href]:active, a[href]:hover {
  text-decoration: none;
  background-image: none;
}
.fr-footer {
  box-shadow: none;
  padding-top: 0.5rem;


  .fr-footer__logo {
    height: 3rem;
  }

  .fr-footer__content {
    flex-basis: 21%;
  }
}
