<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container fr-container-lg">
    <div class="fr-footer__body">
      <div class="fr-footer__brand"> <a href="/" class="fr-footer__content-link"
          title="Retour à l’accueil du site - databretagne.fr">
          <p class="fr-logo"> </p>
        </a>
      </div>

      <div class="fr-footer__content">
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item"> <img class="fr-footer__logo" src="assets/img/logo_france_relance.png"
              alt="France Relance" /> </li>
          <li class="fr-footer__content-item"> <a class="fr-footer__content-link" target="_blank"
              href="https://geobretagne.fr"><img class="fr-footer__logo" src="assets/img/logo_geobretagne.png"
                alt="Geobretagne" /> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
