<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container fr-container-lg">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link"> <a href="/"
          title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
          <p class="fr-logo"> Données financières <br> de l'état </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item"> <img class="fr-footer__logo" src="assets/img/logo_france_relance.png"
              alt="France Relance" /> </li>
          <li class="fr-footer__content-item"> <a class="fr-footer__content-link" target="_blank"
              href="https://geobretagne.fr"><img class="fr-footer__logo" src="assets/img/logo_geobretagne.png"
                alt="Geobretagne" /> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
