<mat-card class="mat-card">
  <mat-card-header [ngClass]="{'hidden': grid_fullscreen }">
    <mat-card-title>Rechercher des données financières</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content-column">
    <financial-search-data (searchResults)="tableData = $event" (currentFilter)="newFilter = $event"
      [preFilter]="preFilter" [ngClass]="{ 'hidden': grid_fullscreen }">
    </financial-search-data>

    <div class="main-content overlay-container no-content">
      <ng-container *ngIf="tableData && tableData.length === 0 else groupingTable">
        <div><i>Aucune donnée ne correspond à vos critères de recherche.</i></div>
      </ng-container>
    </div>
  </mat-card-content>

  <div class="last-import" *ngIf="lastImportDate">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>
    <span>Le dernier chargement des données financières date du <lib-display-date
        [date]="lastImportDate"></lib-display-date> </span>
  </div>
</mat-card>

<ng-template #groupingTable>
  <ng-container *ngIf="tableData">

    <div class="table-toolbar">
      <div>
        <ul class="fr-btns-group--inline">
          <li>
            <button *ngIf="!grid_fullscreen && newFilter"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-menu-2-fill"
              (click)="openGroupConfigDialog()" aria-label="Grouper les lignes par">
              Grouper les lignes par
            </button>
          </li>
        </ul>
      </div>

      <div class="spacer"></div>

      <div>
        <ul class="fr-btns-group--inline">
          <li>
            <button *ngIf="!grid_fullscreen && newFilter"
              class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-save-fill"
              (click)="openSaveFilterDialog()" aria-label="Sauvegarder la recherche">
              Sauvegarder la recherche
            </button>
          </li>
          <li>

            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left"
              [ngClass]="{ 'fr-icon-subtract-line': grid_fullscreen, 'fr-icon-fullscreen-line': !grid_fullscreen }"
              (click)="toggle_grid_fullscreen()" aria-label="Bouton de contrôle du plein écran">
              {{fullscreen_label}}
            </button>

          </li>
        </ul>
      </div>
    </div>

    <lib-grouping-table class="h-100" [tableData]="tableData" [columnsMetaData]="columnsMetaData"
      [groupingColumns]="groupingColumns" (rowClick)="onRowClick($event)"></lib-grouping-table>

  </ng-container>
</ng-template>