<ng-container *ngIf="displayError && error?.name else form">
  <div class="box">
    <div class="fr-alert fr-alert--error">
      <p>{{error?.message}}</p>
    </div>
  </div>
</ng-container>

<ng-template #form>
  <form [formGroup]="searchForm" autocomplete="off">
    <div class="box">

      <mat-form-field class="field-20-width" appearance="fill">
        <mat-label>Thème</mat-label>
        <mat-select formControlName="theme" multiple (selectionChange)="onSelectTheme($event)">
          <mat-option *ngFor="let theme of themes" [value]="theme">
            {{theme.Label}}
          </mat-option>
        </mat-select>
        <button *ngIf="searchForm.controls['theme'].value !== null" matSuffix mat-icon-button (click)="cancelTheme()">
          <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="errorsBenefOrBop">{{errorsBenefOrBop}}</mat-error>
      </mat-form-field>

      <mat-form-field 
        data-test-id="programmes-form-field" 
        class="field-25-width" appearance="fill" matTooltipPosition="above"
        matTooltip="Saisir un nom ou un numéro de programme (Exemple : 102 ou Accès et retour à l’emploi)">
        <mat-label>Programme</mat-label>
        <mat-select formControlName="bops" multiple>
          <mat-form-field class="field-100-width" appearance="fill">
            <mat-label>Filtrer</mat-label>
            <input type="text" class="fr-input" matInput formControlName="filterBop">
          </mat-form-field>
          <mat-option *ngFor="let bop of filteredBop" [value]="bop"> {{bop.Code}} - {{bop.Label}}</mat-option>
        </mat-select>
        <button *ngIf="searchForm.controls['bops'].value !== null" matSuffix mat-icon-button
          (click)="searchForm.controls['bops'].setValue(null)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="errorsBenefOrBop">{{errorsBenefOrBop}}</mat-error>
      </mat-form-field>

      <div class="field-localisation field-30-width">
        <lib-localisation [control]="locationControls"
          [categorySelected]="locationControls.value ? locationControls.value[0].type : null"></lib-localisation>
      </div>

      <mat-form-field 
        data-test-id="annees-form-field"
        class="field-9-width" appearance="fill">
        <mat-label>Année</mat-label>
        <mat-select formControlName="year" multiple>
          <mat-option *ngFor="let year of generateArrayOfYears()" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>

      <div class="break"></div>

      <mat-form-field class="field-25-width" appearance="fill" matTooltipPosition="above"
        matTooltip="Saisir un nom (sans accent) ou un SIRET (Exemple: Decathlon, Rennes... ou 40447186400433,...)"
        aria-label="Champ de selection pour bénéficiaire.">
        <mat-label>Bénéficiaire</mat-label>
        <input type="text" matInput formControlName="beneficiaire" [matAutocomplete]="beneficiaire">
        <button *ngIf="searchForm.controls['beneficiaire'].value !== null" matSuffix mat-icon-button
          (click)="searchForm.controls['beneficiaire'].setValue(null)">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #beneficiaire="matAutocomplete" [displayWith]="displayBeneficiaire"
          (optionSelected)="onSelectBeneficiaire($event.option.value)">
          <mat-option *ngFor="let beneficiaire of filteredBeneficiaire | async" [value]="beneficiaire">
            {{displayBeneficiaire(beneficiaire)}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="errorsBenefOrBop">{{errorsBenefOrBop}}</mat-error>
      </mat-form-field>

      <div class="spacer"></div>

      <button mat-fab color="primary" (click)="doSearch()" matTooltip="Rechercher" aria-label="Bouton de recherche.">
        <mat-icon fontIcon="search"></mat-icon>
      </button>

      <button mat-fab color="secondary" (click)="downloadCsv()" matTooltip="Télécharger"
        aria-label="Bouton de téléchargement de données." *ngIf="searchFinish === true"
        (disabled)="searchInProgress.value === true">
        <mat-icon fontIcon="download"></mat-icon>
      </button>

      <button mat-fab color="warn" (click)="reset()" *ngIf="searchFinish === true" matTooltip="Effacer la recherche"
        aria-label="Bouton de réinitialisation des critères de recherche">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </div>

  </form>
</ng-template>